<h1 class="headline">Lebenslauf</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-6" style="text-align:center;">
      <ul style="list-style-type:none;">
        <h1 class="headline margin">Schulischer Werdegang</h1>
        <li *ngFor="let cv of cvs">
          <div class="jumbotron">
            <h2 class="bold">{{cv.year}}</h2>
            <h3 class="bold">{{cv.school}}</h3>{{cv.text}}
          </div>
          <img src="assets/arrow.svg" class="img-fluid" alt="Responsive image">
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-xl-6" style="text-align:center;">
      <ul style="list-style-type:none;">
        <h1 class="headline margin">Beruflicher Werdegang</h1>
        <li *ngFor="let cv2 of cvs2">
          <div class="jumbotron">
            <h2 class="bold">{{cv2.year}}</h2>
            <h3 class="bold">{{cv2.school}}</h3>{{cv2.text}}
          </div>
          <img src="assets/arrow.svg" class="img-fluid" alt="Responsive image">
        </li>
      </ul>
    </div>
  </div>
</div>
