.bold {
  font-weight: bold;
}

.jumbotron {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
}

.centert {
  width: 97%;
}

.img-fluid {
  margin-bottom: 20px;
}


.headline {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.margin {
  margin-left: -20px;
}

.col-12 {
  margin-left: -15px;
}
