<h1 class="headline">Kontakt</h1>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-12 col-md-6 jumbotron" style="text-align:center;">
      <p>Haben sie Fragen? <br> Anregungen? <br> Oder Jobangebote?</p>
      <p>Scheuen Sie sich nicht und kontaktieren Sie mich einfach</p>
    </div>

    <div class="col-12 col-md-4">
      <h3 style="text-decoration:underline;">Sie erreichen mich unter:</h3>
      <p><span class="bold">E-Mail</span> <span class="right">Eckerle.Nicolas@googlemail.com</span></p>
      <p><span class="bold">Telefon:</span> <span class="right">+49 (0) 176 577 18 54 8 </span></p>
    </div>
  </div>
</div>
