<carousel>
  <slide>
    <div style="background: url('../assets/welcom.jpg');" class="slider">
      <div class="slider-text">
        <h1>Willkommen</h1>
        <h2>Schön, dass Sie da sind!</h2>
      </div>
    </div>
  </slide>
  <slide>
    <div style="background: url('../assets/marketing.jpg');" class="slider">
      <div class="slider-text">
      <h1>Multimedia Marketing</h1>
    </div>
    </div>
  </slide>
  <slide>
    <div style="background: url('../assets/web.jpg');" class="slider">
      <div class="slider-text">
        <h1>Web Development</h1>
      </div>
    </div>
  </slide>
</carousel>

