<carousel>
  <slide>
    <img alt="first slide" src="assets/welcom.jpg" style="display: block; width: 100%;">
    <div class="container">
      <div class="carousel-caption d-none d-md-block">
        <h1>Willkommen</h1>
        <h2>Schön, dass Sie da sind!</h2>
      </div>
    </div>
  </slide>
  <slide>
    <img alt="second slide" src="assets/marketing.jpg" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Multimedia Marketing</h1>
    </div>
  </slide>
  <slide>
    <img alt="third slide" src="assets/web.jpg" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1>Web Development</h1>
    </div>
  </slide>
</carousel>

